name: Release

on:
  workflow_dispatch:

permissions:
  id-token: write
  attestations: write
  contents: write
  packages: write

env:
  REGISTRY_IMAGE: ghcr.io/yumemi-inc/google-cloud-emulator

jobs:
  format-tag:
    if: github.ref_name == 'main'
    runs-on: ubuntu-latest
    outputs:
      tag: ${{ steps.tag.outputs.tag }}
    steps:
      - uses: actions/checkout@v5
      - name: Extract version and create tag
        id: tag
        run: |
          # Dockerfileから「519.0.0」のようなバージョン番号を抽出
          line=$(sed -n 2p ./Dockerfile)
          pattern="[0-9]+\.[0-9]+\.[0-9]+"

          if ! [[ $line =~ $pattern ]]; then
            echo "No version found"
            exit 1
          fi

          VERSION=${BASH_REMATCH[0]}

          # 現在の日付を取得（YYYYMMDD形式）
          DATE=$(date '+%Y%m%d')

          # タグを作成（例：v519.0.0-20250430）
          TAG="v${VERSION}-${DATE}"

          echo "Generated tag: $TAG"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

  build-push:
    needs: format-tag
    strategy:
      fail-fast: false
      matrix:
        include:
          - platform: linux/amd64
            runner: ubuntu-24.04
          - platform: linux/arm64
            runner: ubuntu-24.04-arm
    runs-on: ${{ matrix.runner}}
    timeout-minutes: 5
    steps:
      - name: Prepare
        id: prepare
        run: echo "platform_pair=${PLATFORM//\//-}" >> $GITHUB_OUTPUT
        env:
          PLATFORM: ${{ matrix.platform }}
      - uses: actions/checkout@v5
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
      - uses: docker/build-push-action@v6
        id: push
        with:
          context: .
          platforms: ${{ matrix.platform }}
          labels: ${{ steps.meta.outputs.labels }}
          cache-from: type=gha,scope=gced
          outputs: type=image,name=${{ env.REGISTRY_IMAGE }},push-by-digest=true,name-canonical=true,push=true
      - uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY_IMAGE }}
          subject-digest: ${{ steps.push.outputs.digest }}
          push-to-registry: true
      - name: Export image digest
        run: |
          mkdir -p ${{ runner.temp }}/digests
          digest="${{ steps.push.outputs.digest }}"
          touch "${{ runner.temp }}/digests/${digest#sha256:}"
      - uses: actions/upload-artifact@v6
        with:
          name: digests-${{ steps.prepare.outputs.platform_pair }}
          path: ${{ runner.temp }}/digests/*
          if-no-files-found: error
          retention-days: 1

  merge-image:
    needs: [format-tag, build-push]
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/download-artifact@v6
        with:
          path: ${{ runner.temp }}/digests
          pattern: digests-*
          merge-multiple: true
      - uses: docker/setup-buildx-action@v3
      - uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Extract metadata for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{ env.REGISTRY_IMAGE }}
          tags: |
            type=raw,value=${{ needs.format-tag.outputs.tag }}
            type=match,pattern=\d+\.\d+\.\d,value=${{ needs.format-tag.outputs.tag }}
            type=raw,value=latest
      - name: Create manifest list and push
        working-directory: ${{ runner.temp }}/digests
        run: |
          docker buildx imagetools create $(jq -cr '.tags | map("-t " + .) | join(" ")' <<< "$DOCKER_METADATA_OUTPUT_JSON") \
            $(printf '${{ env.REGISTRY_IMAGE }}@sha256:%s ' *)
      - name: Inspect image
        run: |
          docker buildx imagetools inspect ${{ env.REGISTRY_IMAGE }}:${{ steps.meta.outputs.version }}

  publish-release:
    runs-on: ubuntu-latest
    needs: [format-tag]
    steps:
      - uses: actions/checkout@v5
      - name: Create GitHub Release
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          TAG: ${{ needs.format-tag.outputs.tag }}
        run: gh release create "${TAG}" --title "${TAG}" --generate-notes
